body{
    background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
    min-height:940px;
    margin: auto;
}
/*Media queries*/

/*--Mobile first--*/


/*--Tablets min: 768px--*/

/*--Laptops min: 992px--*/

/*--Large Screens min: 1200px--*/


/*Header*/
.menu{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  padding-bottom: 10px;
  max-width:1920px;
}
.logo h1{
  font-family: Pacifico,cursive;
  font-size: 27px;
  color: white;
}
.inner-menu ul{
  display: flex;
  flex-direction: row;
  height: 100%;
  list-style: none;
}
.inner-menu li{
  font-size: 18px;
  padding: 0 20px 0 0;
}
.inner-menu a{
  text-decoration: none;
  color: white;
}
/*Main Index*/
 .main{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 960px;
  padding: 0px 20px 1.45rem;
  padding-top: 0;

 }
.main img{
  width: 450px;
  height: 400px;
  padding: 0;
  margin: auto;
}
.main h1{
  font-family: Montserrat,sans-serif;
  font-size: 35px;
  color: white;
}
.main p{
  color:#ffffee;
  font-size: 20px;
  margin: 5px;
}
/*Content About*/
.content-wrapper{
  max-width: 960px;
  margin: auto;
}
.welcome > img{
    width: 450px;
    height: auto;
}

.item-about{
  display: flex;
  flex-direction: row;
}
.
/*Content Work*/
.footer{

}
